.project-card {
  border-radius: 10px;
  margin: 20px 0;
  background-color: #ffffff;
  box-shadow: 1px 5px 15px -4px rgba(0,0,0,0.65);
}

.project-link {
  color: black;
  font-size: 0.7em;
  text-decoration: none;
}

.project-image {
  width: 100vw;
  height: 280px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.project-title {
  padding: 0.5em;
  color: black;
}

@media screen and (min-width: 575px) {
  .project-card {
    margin: 20px;
    position: relative;
  }

  .project-image {
    width: 500px;
    border-radius: 10px;
  }

  .cover {
    position: absolute;
    top: 0;
    border-radius: 10px;
    opacity: 0.3;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 0.3s opacity;
  }

  .cover:hover {
    opacity: 0.05;
    transition: 0.5s;
  }

  .project-title {
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 3;
    font-weight: 700;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
}

